@model generalStore.Models.Role

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3 class="mb-4">Create Category</h3>

            <div class="form-floating mb-3">
                <input asp-for="RoleName" type="text" class="form-control" id="floatingInput" />
                <label for="floatingInput">Role Name</label>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RoleDescription" type="text" class="form-control" id="floatingInput" />
                <label for="floatingInput">Description</label>
                <span asp-validation-for="RoleDescription" class="text-danger"></span>
            </div>
            <button type="submit" value="Create" class="btn btn-primary">Create</button>
            <a asp-action="Index" type="submit" class="btn btn-primary">Back to list</a>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
