@model generalStore.Models.ViewModels.ChangePasswordViewModel
<div>
    <form action="/Accounts/ChangePassword" method="post" action="/action_page.php">
    <div class="form-group">
        <label for="email">Password now:</label>
        <input asp-for="PasswordNow" type="password" class="form-control" placeholder="Enter password" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">New password:</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Enter new password" id="pwd">
    </div>
    <div class="form-group">
        <label for="pwd">Confirm new password:</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm new password" id="pwd">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
