@model generalStore.Models.ViewModels.ChangePasswordViewModel
<div>
    <form action="/Accounts/ChangePassword" method="post" action="/action_page.php">
        <div class="form-group">
            <label for="email"><h5>Mật khẩu hiện tại</h5></label>
            <input asp-for="PasswordNow" type="password" class="form-control" placeholder="*********" id="email">
        </div>
        <div class="form-group">
            <label for="pwd"><h5>Mật khẩu mới</h5></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="*********" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd"><h5>Nhập lại mật khẩu mới</h5></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="*********" id="pwd">
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Thay đổi</button>
        </div>
    </form>
</div>
