@model generalStore.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Navbar Start -->
<partial name="/Views/_NavbarStart.cshtml" />
<!-- Navbar End -->
<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="index.html" class="">
                            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>TStore</h3>
                        </a>
                        <h3>Đăng nhập</h3>
                    </div>
                    <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Địa chỉ email</label>                       
                        <input type="email" asp-for="UserName" class="form-control" id="floatingInput" placeholder="name@gmail.com">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <label for="floatingPassword">Mật khẩu</label>
                        <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder="*********">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Lưu đăng nhập</label>
                        </div>
                        <a href="">Quên mật khẩu</a>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Đăng nhập</button>
                    <p class="text-center mb-0">Bạn mới biết đến TStore? <a href="dang-ky">Đăng ký</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
</div>
