@model generalStore.Models.Category

@{
    ViewData["Title"] = "Edit: " + Model.CategoryName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@Model.CategoryId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.CategoryId" />
    <input type="hidden" asp-for="@Model.CategoryPhoto" />
    <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Thêm mới sản phẩm</h6>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">
                        Basic Info
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-profile" type="button" role="tab"
                            aria-controls="nav-profile" aria-selected="false">
                        Option Info
                    </button>
                </div>
            </nav>
            <div class="tab-content pt-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="form-floating mb-3">
                        <input asp-for="CategoryName" type="text" class="form-control" id="floatingInput" placeholder="TrongTan">
                        <label for="floatingInput">Loại sản phẩm</label>
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Chọn hình ảnh</label>
                        <input asp-for="CategoryPhoto" class="form-control" name="fThumb" type="file" id="formFile">
                    </div>  
                    <div class="form-floating mb-3">
                        <input asp-for="CategoryOrder" type="number" class="form-control" id="floatingInput" placeholder="TrongTan">
                        <label for="floatingInput">CategoryOrder</label>
                        <span asp-validation-for="CategoryOrder" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="ParentId" type="number" class="form-control" id="floatingInput" placeholder="TrongTan">
                        <label for="floatingInput">ParentId</label>
                        <span asp-validation-for="ParentId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Levels" type="number" class="form-control" id="floatingInput" placeholder="TrongTan">
                        <label for="floatingInput">ParentId</label>
                        <span asp-validation-for="Levels" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                        </label>
                    </div>
                    </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="form-floating mb-3">
                        <input asp-for="Title" type="text" class="form-control" id="floatingInput" placeholder="TrongTan">
                        <label for="floatingInput">Title</label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="MetaDesc" type="text" class="form-control" id="floatingInput" placeholder="TrongTan">
                        <label for="floatingInput">MetaDesc</label>
                        <span asp-validation-for="MetaDesc" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="MetaKey" type="text" class="form-control" id="floatingInput" placeholder="TrongTan">
                        <label for="floatingInput">MetaKey</label>
                        <span asp-validation-for="MetaKey" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Cover" type="text" class="form-control" id="floatingInput" placeholder="TrongTan">
                        <label for="floatingInput">Cover</label>
                        <span asp-validation-for="Cover" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="SchemaMarkup" type="text" class="form-control" id="floatingInput" placeholder="TrongTan">
                        <label for="floatingInput">SchemaMarkup</label>
                        <span asp-validation-for="SchemaMarkup" class="text-danger"></span>
                    </div>
                </div>               
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
